/* @group general styles 主体,reset,链接,标题,其他元素*/
/* reset */
*, html, body{
    margin: 0;
    padding: 0;
}
div, span, p, li, a, h3{
    font-family: Times New Roman;
    font-size: 13px;
    line-height: 1.8;
    color: #333333;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}

/* @group page structure 标题,页脚,导航,布局,其他页面结构*/
.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
/* @group page structure header */
header .logo{
    width: 100%;
    background: #0c7ed9;
    height: 120px;
}
header>div:last-child{
    background-color: #fbfbfb;
}
/* 导航 */
/* 导航主体样式 */
nav.main-nav>ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
}
nav.main-nav>ul>li{
    min-width: 115px;
    position: relative;
}
/* 导航栏下a标签共有样式 */
nav.main-nav a{
    display: block;
    padding: 0.75em 1em;
    position: relative;
}

/* 导航栏子级子菜单共有样式 */
nav.main-nav>ul>li ul{
    position: absolute;
    width: 12em;
    background: #f3f3f3;
    box-shadow: 2px 2px 6px rgba(0,0,0,.2);
    line-height: 1.8;
    /* 子级菜单显示与隐藏 */
    display: none;
}
nav.main-nav ul.fir-menu a,
nav.main-nav ul.sf-menu a{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #d7d7d7;
}
/* end header */
/* 导航栏二级菜单 定位 */
nav.main-nav ul.sf-menu{
    left: 12em;
    margin-top: -44.5px;
}
/* @group page structure footer */
footer{
    background-color: #666;
    color: #fff;
    height: 130px;
    text-align: center;
}
footer p{
    padding-top: 40px;
}
footer>p span{
    color: #fff;
}
footer>p a{
    text-decoration: #fff underline
} 
/* 返回顶部 */
#scrollUp{
    position: fixed;
    z-index: 2147483647;
    bottom: 0px;
    right: 0px;
    height: 38px;
    width: 38px;
    background: url(../img/common/top.png) no-repeat
}
