/* @group helper styles 表单,通知和错误,一致性的条目*/
/* 
--color--
blue, hover_color, main_color, title_color: #0c7ed9;
dark_gray, font_color:                      #333;
light_gray:                                 #818181;
*/
.arrow-down::after{
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #818181;
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: -3px;
}

/* @group page structure carousel */
.carousel {
    position: relative;/* 铺垫动画效果 */
    height: 300px;
    overflow: hidden;
}
.carousel .carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel .carousel-item,
.carousel .carousel-item a,
.carousel .carousel-item img{
    display: block;
    width: 100%;
    height: 100%;
}
.carousel-indicators{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 20px;
}
.carousel-indicators li{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background: -24px -126px url("../img/carousel/ico.png") no-repeat;
    cursor: pointer;
}
.carousel-indicators li.active{
    background-position: -10px -126px;
}
/* @group page structure main section module */
/* moudule title */
.content-wrap>div{
    /* 去掉直接子元素中,由于inline-block而产生的间隙 */
    font-size: 0;
}
.content-wrap .content-module{
    width: 465px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.content-module>.module-top,
aside>.module-top
{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #0c7ed9;
}
.content-module>.module-top>h3,
aside>.module-top>h3{
    display: inline-block;
    flex: 1;
    padding-left: 5px;
    color: #0c7ed9;
    font-size: 20px;
    font-weight: bold;
}
.content-module>.module-top>.more{
    display: inline-block;
    width: 100px; 
    color: #333;
}
/* moudule list */
.content-module .module-list{
    padding: 5px;
}
.content-module .module-list>li{
    height: 30px;
    vertical-align: center;
    border-bottom: 1px dashed #7e7e7e;
    line-height: 30px;
}

.content-module .module-list>li span{
    float: right;
    font-size: 12px;
    color: #666;
    height: 100%;
    line-height: inherit;
    padding-right: 2px;
}
/* aside */
aside{
    width: 250px;
    display: inline-block;
    margin-top: 10px;
}
aside .qk-entry-list>li{
    padding: 5px 10px;
    border-bottom: 1px solid rgb(38, 161, 240);
}
aside .qk-entry-list .social-account>p:first-child{
    float: left;
}
.social-account p>a:hover img{
    opacity: 0.7;
}
aside .qk-entry-list>li:not(:first-child) p>span{
    color: red;
    font-size: 14px;
}
/* 成果展示 */
.achievement>li>p{
    margin: 10px;
    line-height: 1;
}

/* @group page components 各个页面 */
/* @group overrides 覆盖样式 */